{% extends "base.html" %}
{% block content %}
<section class="section">
  <h1>Projects</h1>
  <p class="subtitle">Highlights of my real-world projects applications of coding skills.</p>
  <div class="grid">
    <div class="grid-item">
      <h3>Alien Invasion Game</h3>
      <p>Built a 2D shooting game using Object-Oriented Programming in Python (Pygame), implementing game logic, enemy movement, and collision detection for an interactive user experience.
      </p>
    </div>
    <div class="grid-item">
      <h3> Subclinical Mastitis Detection using ML</h3>
      <p>Developed a machine learning model to detect subclinical mastitis in dairy cows using classification algorithms like Decision Tree, KNN, and Logistic Regression with PCA for dimensionality reduction.</p>
    </div>
    <div class="grid-item">
      <h3> Coffee Maker Machine</h3>
      <p>Created a Python-based GUI coffee machine app using Tkinter to simulate drink selection, ingredient checks, and cost calculations, enhancing understanding of GUI design and modular coding.</p>
    </div>
    <div class="grid-item">
      <h3>Power BI Sales Dashboard</h3>
      <p>Designed an interactive Power BI dashboard to visualize and analyze sales metrics, customer segments, and revenue trends, enabling data-driven business insights.</p>
    </div>
    <div class="grid-item">
      <h3>E-commerce Funnel Analysis</h3>
      <p>Performed funnel analysis on e-commerce customer behavior using Python and Excel to identify drop-off points and improve conversion rates through data storytelling.
      </p>
    </div>
    <div class="grid-item">
      <h3>COVID-19 State-wise Insights</h3>
      <p>Analyzed COVID-19 data state-wise using Python to visualize daily cases, recovery rates, and trends with Matplotlib and Seaborn, aiding in public health decision-making.
      </p>
    </div>
    <div class="grid-item">
      <h3>Real-Time Sign Language Recognition</h3>
      <p>Built a real-time sign language recognition system using computer vision and machine learning, enabling gesture detection through webcam for improved communication accessibility.
      </p>
    </div>
  </div>
</section>
{% endblock %}
